{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4 filled">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3>Регистрация в системе</h3>
            <p>Регистрация в системе закрыта, обратитесь к <a href="#">администратору системы</a> или вашему учителю</p>
            <a href="#">Я учитель или представитель школы</a>
        </div>
    </div>
{% endblock %}
