{% extends "base.html" %}

{% block content %}
    <div class="row filled">
        <div class="col-md-6 offset-md-3">
            <br>
            <br>
            <h3>Информация о пользователе</h3>
            <p>ID: {{ user.id }}</p>
            <p>Логин: {{ user.login }}</p>
            <p>Имя: {{ user.name }}</p>
            <p>Фамилия: {{ user.surname }}</p>
            <p>Школа: <a href="{{ url_for('classes.school_info', school_id=user.school.id) }}">{{ user.school.name }}</a></p>
            <p>Роль на сайте:
            {% if user.role|string in perms %}
                <font color="{{ perms[user.role|string]['color'] }}">{{ perms[user.role|string]['name'] }}</font>
            {% else %}
                Неизвестно
            {% endif %}
            {% if current_user.has_permission('auth.edit-role') %}
                - <a href="{{ url_for('auth.edit_role', user_id=user.id, redir=request.path) }}">Изменить роль</a>
            {% endif %}
            </p>
            {% if current_user.has_permission('auth.reset-password') %}
                <p>
                    <a href="{{ url_for('auth.reset_password', user_id=user.id) }}" class="btn btn-warning">Сбросить пароль</a>
                </p>
                {% if new_password %}
                    <p>
                        Новый пароль: {{ new_password }}
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
